@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 0;
}

.flex-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-container
{
    max-width: 1180px;
    margin: 0 auto;
}
.tablet-show
{
    display: none;
}
.catalog-image
{
    width: 100%;
    height: 100%;
}
.hr-border
{
    width: 100%;
    background: #e5e5e5;
}
.drop-shadow
{
    transition: .3s box-shadow ease-in-out;
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}
.page-wrapper
{
    min-height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 375px;
}
a {
    transition: .2s color ease-in-out;
    color: black;
    text-decoration: none;
}
a:hover {
    color: #f14a58;
}
hr {
    max-width: 1400px;
    margin: 0 auto;
    border: none;
    height: 1px;
    background: linear-gradient(to right, #fff, #e5e5e5 3%,#e5e5e5 97%, #fff 100%);
}