/* Styles for Header section */
.header
{
    margin: 30px auto 20px;
}

.header__mobile-left
{
    flex: 1;
}
.header__logo
{
    font-family: OpenSans, sans-serif;
    font-size: 1.875em;
    margin-bottom: 20px;
}
.header__links-item
{
    display: inline-block;
    margin-left: 2.5em;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: 0.75em;
}
.header__menu-icon
{
    padding:30px 0 30px 20px;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
    display: none;
}

.header__nav
{
    width: 80%;
    max-width: 960px;
}
.header__nav-item
{
    display: block;
    font-family: OpenSans, sans-serif;
    font-size: 0.8125em;
    font-weight: bold;
}
.header__search
{
    max-width: 120px;
    border-bottom: 2px solid #e5e5e5;
}
.header__input
{
    max-width: 100px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    font-size: 0.75em;
}
.header__input::placeholder
{
    color: #e5e5e5;
}
.bag-icon
{
    margin:0 1em;
}
.search-icon
{
    position: relative;
    top: 2px;
}
.header__links-item:first-of-type
{
    margin-left: 0;
}


/* Promo block styles */
.promo {
    max-width: 1300px;
    height: 385px;
    margin: 0 auto;
    overflow: hidden;
}

.mobile-show {
    display: none;
}
.promo__left, .promo__right
{
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 65px 100px 0 0;
}
.promo__left
{
    background: url("../img/nike-red.png") no-repeat 20px 50px;
    background-size: 95%;
    border-right: 1px solid #e5e5e5;
}
.promo__right
{
    background: url("../img/caps-n-hats.png") #f7f7f7 no-repeat 20px -40px;
    background-size: 46%;
}
.promo__content {
    display: inline-block;
}
.promo__header
{
    font-family: OpenSans, sans-serif;
    font-size: 1.75em;
}
.promo__caption
{
    color: #757575;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}
.promo__photo
{
    position: absolute;
}

/* ************ MAIN SECTION *************** */
.main
{
    margin: 0 auto;
}
/* Best offer section styles */
.main__best-offer
{
    margin: 100px auto;
}
.main__header
{
    margin-bottom: 10px;
    font-family: OpenSans, sans-serif;
    font-size: 3.125em;
    text-align: center;
}
.main__caption
{
    font-size: 1em;
    font-style: italic;
    text-align: center;
    line-height: 200%;
}

.main__slider
{
    height: 540px;
    margin-top: 70px;
}
.main__slider-item
{
    max-width: 240px;
}
.main__slider-swipe
{
    text-align: center;
    cursor: pointer;
}

.main__slider-stock
{
    overflow:hidden;
    height: 440px;
    margin: 35px 0;
}
.stock__container
{
    position: relative;
    bottom: 0;
}
.main__card
{
    position: relative;
    max-width: 240px;
    height: 440px;
}
.main__card-badge
{
    background: #f14a58;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 0.8125em;
    padding: 0.5em 1em;
    position: absolute;
    left: 0;
    top: 10px;
}
.main__card-photo
{
    height: 340px;
    width: 240px;
    background: wheat;
    margin-bottom: 40px;
}
.main__card-name, .main__card-price
{
    font-family: Roboto, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main__card-price
{
    font-weight: normal;
}
.main__slider-sign
{
    height: 100%;
    justify-content: center;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 2.125em;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.main__slider-summary
{
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
    position: relative;

}
.summary__oldprice
{
    font-size: 1.625em;
    color: #757575;
    width: 170px;
}
.summary__line
{
    width: 105px;
    background: #f14a58;
    height: 2px;
    transform: rotate(-30deg);
    position: absolute;
    top: 1em;
    left: 5em;
}
.summary__newprice
{
    font-size: 2.125em;
    font-weight: bold;
    margin-bottom: 80px;
}
.button--main
{
    font-family: Roboto, sans-serif;
    background: none;
    font-size: 1.5em;
    border: 1px solid #e5e5e5;
    width: 340px;
    height: 75px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.button--main:hover
{
    color: #f14a58;
    border: 1px solid #f14a58;
}

/* New Arrivals section */
.main__new-arrivals {
    margin: 100px auto;
    text-align: center;
}
.main__arrivals {
    margin: 80px 0 70px;
}

/* ********** FOOTER SECTION ************* */
.footer__links, .footer__contacts, .footer__customer-wrap {
    padding: 55px 0;
    box-sizing: border-box;
}
.footer__quick-links, .footer__customer {
    padding: 0;
    list-style: none;
}
li.footer__links-header {
    margin-bottom: 50px;
}
.footer__links-item {
    font-family: Roboto, sans-serif;
    font-size: 0.875em;
    margin: 15px 0;
}
.footer__header {
    font-family: OpenSans, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer__caption {
    font-family: Roboto, sans-serif;
    font-size: 0.875em;
}
.footer__delivery{
    max-width: 300px;
    font-size: 1em;
    color: #757575;
    font-style: italic;
    margin-bottom: 45px;
}
.facebook-icon {
    margin-right: 15px;
}
.twitter-icon {
    margin-right: 10px;
}

/* Footer for desktop */
.footer {
    height: 450px;
}
.footer--desktop .footer__site-map {
    align-content: flex-start;
}
.footer--desktop .footer__site-map section{
    width: 100%;
    height:450px;
    align-items: flex-start;
}
.footer--desktop .footer__links {
    justify-content: flex-start;
    border-right: 1px solid #e5e5e5;
    padding-right: 60px;
}
.footer--desktop .footer__quick-links {
    margin-right: 12vw;
}
.footer--desktop .footer__contacts {
    padding: 55px 0 55px 60px;
    box-sizing: border-box;
}
.footer--desktop .footer__contact-section {
    justify-content: flex-start;
}
.footer--desktop .footer__twitter, .footer--desktop .footer__phone{
    margin:0 60px 80px 0;
}
.footer--desktop .footer__misc {
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 0.75em;
    font-weight: bold;

}
.footer--desktop .footer__misc > * {
    width: 100%;
}
.footer--desktop .footer__share {
    justify-content: center;
    font-size: 1.125em;
    font-family: OpenSans, sans-serif;
}
.footer--desktop .footer__share > div{
    width: 50px;
}
.footer--desktop .footer__policy {
    padding: 0;
    list-style: none;
    text-align: right;
}
.footer--desktop .footer__policy-item {
    display: inline-block;
    margin-left: 35px;
}
.footer__share-counter {
    font-family: Roboto, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    padding: 5px 10px;
    background: url("../img/icons/box-icon.png") no-repeat;
    background-size: cover  ;
}


/* Footer for tablets */
.footer--tablet .footer__site-map {
    align-items: flex-start;
}
.footer--tablet .footer__site-map section{
    width: 100%;
    height:425px;
    align-items: flex-start;
}
.footer--tablet .footer__contact-section {
    flex-direction: column;
    align-items: flex-start;
}
.footer--tablet .footer__twitter {
    margin-bottom: 40px;
}
.footer--tablet .footer__phone {
    margin-bottom: 90px;
}
.footer__links-item {
    margin: 30px 0;
}
li.footer__links-header {
    margin-bottom: 45px;
}
.footer--tablet .footer__misc {
    height: 80px;
}
.footer--tablet .footer__misc {
    font-family: Roboto, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
}
.footer--tablet .footer__share{
    font-size: 1.33333333em;
}
.footer--tablet .footer__policy-item {
    display: inline-block;
    margin-left: 15px;
}
.footer--tablet .footer__policy-item:first-of-type {
    margin-left: 0;
}


/* Footer for mobiles */
.footer--mobile .footer__site-map {
    height: 580px;

}
.footer--mobile .footer__links{
    padding: 35px 0 35px;
    align-items: flex-start;
    justify-content: space-between;
}
.footer--mobile .footer__header {
    font-size: 0.875em;
}
.footer--mobile .footer__caption {
    font-size: 0.75em;
}
.footer--mobile .footer__links-header {
    margin-bottom: 35px;
}
.footer--mobile .footer__links-item {
    margin: 25px 0;
    font-size: 0.75em;
}
.footer--mobile .footer__contacts {
    padding: 0;
}
.footer--mobile .footer__twitter, .footer--mobile .footer__phone {
    width: 100%
}
.footer--mobile .footer__phone {
    padding: 25px 0 45px 20px;
}
.footer--mobile .footer__twitter {
    padding: 25px 0 45px;
    border-right: 1px solid #e5e5e5;
}
.footer--mobile .footer__policy-item, .footer--mobile .footer__copyright{
    display: inline-block;
    font-size: 0.625em;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    margin-right: 10px;
}
.footer--mobile .footer__media, .footer--mobile .footer__misc {
    height: 65px;
}
.footer--mobile .footer__share {
    font-family: OpenSans, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
}


@media screen and (max-width: 1260px){
    .content-container {
        padding: 0 20px;
    }
}
@media screen and (max-width: 1130px) {
    .main__slider {
        grid-template-columns: 240px 10vw 240px 10vw 1fr;
    }
}
@media screen and (max-width: 1024px)
{
    .tablet-hidden {
        display: none;
    }
    .tablet-show {
        display: block;
    }
    .header__logo {
        font-size: 1.625em;
        margin-bottom: 10px;
    }
    .header__links-item
    {
        margin-bottom: 10px;
    }
    .header__nav
    {
        width: 90%;
    }
    .header__nav-item {
        font-size: 0.75em;
    }
    .header__input {
        width: 0;
    }
    .header__search {
        border: none;
    }

    .promo {
        height: 225px;
    }
    .promo__left, .promo__right {
        padding: 35px 60px 0 0;
    }
    .promo__left {
        background-position: 10px 30px;
        background-size: 80%;
    }
    .promo__right {
        background-size: 40%;
        background-position: 20px -25px;
    }
    .promo__header {
        font-size: 1.375em;
    }


    .main__slider {
        height: 470px;
        position: relative;
    }
    .main__slider-item {
        max-width: 200px;
    }
    .main__slider-stock {
        height: 380px;
    }
    .main__card {
        max-width: 200px;
        height: 380px;
    }
    .main__card-badge {
        top: 15px;
    }
    .main__card-photo {
        height: 290px;
        width: 200px;
        background: wheat;
        margin-bottom: 40px;
    }
    .main__slider-sign {
        padding-bottom: 100px;
    }
    .summary__oldprice
    {
        font-size: 1.375em;
    }
    .summary__line
    {
        top: 0.8em;
        left: -0.5em;
        width: 95px;
    }
    .summary__oldprice {
        width: 150px;
    }
    .summary__newprice
    {
        font-size: 1.875em;
        margin-bottom: 150px;
    }
    .main__best-offer {
        height: 800px;
    }
    .summary__button {
        position: absolute;
        top: 400px;
        left: -50vw;
    }


    .main__arrivals {
        margin: 65px auto 70px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 768px)
{
    .promo__left, .promo__right {
        padding: 35px 60px 0 0;
    }
    .promo__left {
        background-position: 10px 50px;
        background-size: 90%;
    }
    .promo__right {
        background-size: 50%;
        background-position: 20px -25px;
    }
    .promo__header {
        font-size: 1.375em;
    }
}
@media screen and (max-width: 675px) {
    .main__arrivals {
        justify-content: space-between;
    }
}
@media screen and (max-width: 640px) {
    .header__menu-icon--passive .menu-icon{
        display: block;
    }
    .header__menu-icon--passive .close-icon{
        display: none;
    }
    .header__menu-icon--active .menu-icon{
        display: none;
    }
    .header__menu-icon--active .close-icon{
        display: block;
    }
    .header__menu-icon--active
    {
        border: none;
    }

    .header {
        margin: 0 auto;
        padding: 0;
        position: relative;
        z-index: 5;
    }
    .header__mobile {
        align-items: stretch;
        padding: 0 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    .header__mobile-left
    {
        padding:10px 20px 0 0;
    }
    .mobile-hidden {
       display: none;
    }
    .mobile-show {
        display: initial;
    }
    .header__nav {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.5em;
    }
    .header__nav-item
    {
        margin: 20px 0;
    }
    .header__nav-item:last-of-type
    {
        margin-bottom: 30px;
    }
    .header__menu {
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        position: absolute;
        z-index: 5;
        background: white;
        box-sizing: border-box;
        transition: .5s height ease-in-out, .5s padding ease-in-out;
        height: 0;
        width: 100%;
        padding:0 20px;
    }
    .header__menu--active {
        padding:10px 20px;
        height: 90vh;
    }
    .header__search
    {
        border-bottom: 2px solid #e5e5e5;
        max-width: 170px;
        margin-bottom: 20px;
    }
    .header__input
    {
        width: auto;
        max-width: 150px;
    }

    .promo__right {
        display: none;
    }


    .main__header {
        font-size: 1.625em;
    }
    .main__caption {
        font-size: 0.875em;
    }
    .main__slider {
        height: 370px;
        position: relative;
    }
    .main__slider-item {
        max-width: 160px;
    }
    .main__slider-stock {
        height: 300px;
    }
    .main__card-badge {
        top: 15px;
    }
    .main__card {
        max-width: 160px;
        height: 300px;
    }
    .main__card-photo {
        height: 220px;
        width: 160px;
        background: wheat;
        margin-bottom: 30px;
    }
    .main__card-name, .main__card-price {
        margin-bottom: 15px;
    }
    .main__slider-sign {
        padding-bottom: 100px;
    }
    .main__slider-summary {
        position: absolute;
        top: 400px;
        left: 25vw;
    }

    .summary__line
    {
        top: 1em;
        left: 4.5em;
    }
    .summary__oldprice {
        font-size: 1.125em;
        width: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-left: 20px;
    }
    .summary__newprice
    {
        font-size: 1.625em;
        width: 100%;
        text-align: center;
    }
    .summary__line {
        top: 0.5em;
        width: 80px;
        left: 3.5em;
    }
    .main__best-offer {
        margin: 50px auto 100px;
        height: 770px;
    }
    .summary__button {
        position: absolute;
        top: 100px;
        left: -7vw;
    }

    .button--main {
        width: 220px;
        font-size: 1.25em;
    }

    .main__arrivals {
        justify-content: space-between;
    }

    .footer--mobile.footer {
        display: block;
    }
}